# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcarchive
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode project user state
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# 本地构建与调试产物
work/
